{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/naming-convention": 1,
    "@typescript-eslint/semi": 1,
    "@typescript-eslint/no-explicit-any": 0,
    "curly": 1,
    "eqeqeq": 1,
    "no-throw-literal": 1,
    "semi": 0
  },
  "ignorePatterns": ["out", "dist", "**/*.d.ts"]
}
