{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
      "node": true,
      "es6": true
  },
  "rules": {
    "@typescript-eslint/naming-convention": 2,
    "@typescript-eslint/semi": 2,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "curly": 2,
    "quotes": [2, "single"],
    "eqeqeq": 2,
    "no-throw-literal": 2,
    "semi": 0
  },
  "ignorePatterns": ["out", "dist", "**/*.d.ts"]
}
